<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8"/>
 <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
  <a class="navbar-brand" href="#">BDS Tracking System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Employees
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/employee/new}" sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">Add New</a>
          <a class="dropdown-item" th:href="@{/employee}">View All</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Assets
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/asset/new}"  sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">Add New</a>
          <a class="dropdown-item" th:href="@{/asset}">View All</a>
        </div>
      </li>
      <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ADMIN')">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Add New</a>
          <a class="dropdown-item" th:href="@{/user}">View All</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          File
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/import}" sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">Import CSV</a>
          <a class="dropdown-item" th:href="@{/logout}" type="submit">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</head>